{%- comment %}
  Creates a hero panel with some text in an h1 tag and an image.
  And an optional call to action button.
  Call with{} the following parameters:
  text: required, string
        The text to display in the in the. May be an empty string.
  image: optional, url
          URL to image to use as the image in this panel.
          Overides a default set in the .heroPanel css.
  imagePosX: optional string
             sets the X position for the 50% of the image.
             defaults to center
  imagePosY: optional string
             sets the Y position for the 50% of the image.
             defaults to center
  imageSize: optional string
             Sets the size of the image.
             defaults to 100%;
  button: optional, string
          the text to display in the button.
          If left null, the button will not appear.
  action: required if 'button' is set, string url
          the url the button element should link to
{% endcomment -%}

{%- comment %}
	May upgrade later: Add another optional parameter 'headinglevel' to define what
  tag the text should be in. (h1, h2, h3...) Default to h1.
{% endcomment -%}

<div class="heroPanel"
  {%- if image != blank -%}
    style="
      background:url({{image}});
      background-position:{{imagePosX | default: '50%'}} {{imagePosY | default: '50%'}};
      background-size:{{imageSize | default: '100%'}}
    "
  {%- endif -%}
>
  <div class="heroPanel__bg"></div>
  {% if button != blank -%}
  <a
    class="heroPanel__button button button--lookatme"
    role="button"
    href="{{action}}"
  >
    {{button}}
  </a>
  {%- endif %}
  <h1 class="heroPanel__text">{{text}}</h1>
</div>
